{% extends "index.html"%}
{% block content %}
<br>
<br>
<div id='content-div'>
	<iframe width="1100" height="650" src="https://datastudio.google.com/embed/reporting/1qQenKvaVIBlNoYHPai04FpjbbkUzygGI/page/dgpx" frameborder="0" style="border:0" allowfullscreen></iframe>
	<iframe width="1100" height="750" src="https://datastudio.google.com/embed/reporting/1RQe2JNlltR6keDXaRagAW0_03Af3zmMt/page/6jpx" frameborder="0" style="border:0" allowfullscreen></iframe>
	<iframe width="1100" height="720" src="https://datastudio.google.com/embed/reporting/193dexMSfJ3sNQMt8KgAbTZkI1H2u9ywu/page/0Dpx" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
{% endblock %}